
        /* all */

        * {
            padding: 0;
            margin: 0;
        }
        
        html {
            font-size: 10px ;
            overflow-x: hidden;
        }
        
        h1 {
            font-size: 5rem;
            font-weight: 500;
            color: whitesmoke;
            font-family: cursive;
        }
        
                /* for header */
        
        header {
            background-color: #343434;
            height: 7rem;
            width: 100%;
        }
        
        header h1 {
            margin-left: 3rem;
            width: 100%;
        }
        
                /* for calculator */
        
        article {
            background-color: rgb(171, 171, 172);
            padding: 3rem 5rem 0rem 5rem;
            width: 60%;
            margin: 0 auto 0 auto;
            max-height: auto;
        }

            /* input tags */

        section {
            display: flex;
            justify-content: center;
        }
        
        section * {
            margin-right:0.5rem;
            width: 12rem;
        }
        
        section input{
            height: 2rem;
        }
        
        /* result text */

        article h1 {
            text-align: center;
            display:none;
        }
        
        article button {
            width: 100%;
            height: 3rem;
        }

        .clear-and-show {
            display: flex;
            justify-content: center;
            width: 42%;
            margin:1rem auto 0 auto;
        }
        
                /* for footer */
        
        footer {
            position: absolute;
            bottom: 0;
            font-size: 3rem;
            background-color: #343434;
            width: 100%;
            font-family: cursive;
        }
        
        .github {
            color: whitesmoke;
        }
        

        /* Calculation history */

        .calculation-history {
            font-size: 2.5rem;
        }

        h3 {
            font-family: cursive;
            font-weight: 500;
            display: none;
        }
